/* -- Mixins -- */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
progress,
video {
  display: inline-block; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap; }

/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0; }

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 1em 40px; }

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * 1. Define consistent border, margin, and padding.
 * 2. Address width being affected by wide descendants in Chrome and Firefox.
 */
fieldset {
  border: 1px solid #c0c0c0;
  /* 1 */
  margin: 0 2px;
  /* 1 */
  min-width: 0;
  /* 2 */
  padding: 0.35em 0.625em 0.75em;
  /* 1 */ }

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Correct color not being inherited in all browsers.
 *    Known issue: `select` will not inherit color in Chrome and Safari on OS X.
 * 2. Correct font properties not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Re-apply the `font-weight` to avoid modifying the default UX, and because
 * the default cannot be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*FONTS*/
/*COLOR*/
body {
  font-family: Arial, sans-serif; }

a {
  text-decoration: none;
  color: #fff; }

a:hover {
  text-decoration: underline; }

/* -- Navigation components -- */
.site-promo-banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #444;
  max-height: 79px;
  overflow: hidden;
  z-index: 9999; }
  .site-promo-banner .content {
    max-width: 850px;
    min-width: 320px;
    width: 100%;
    margin: 0 auto; }
  .site-promo-banner p {
    margin: 29px 0 30px;
    text-align: center;
    font-size: 1.250em;
    color: #fff; }
  .site-promo-banner a {
    font-weight: bold; }

.digg-header {
  position: fixed;
  top: 79;
  left: 0;
  width: 100%;
  height: 54px;
  z-index: 999;
  background-color: #fff;
  border-bottom: 1px solid #d9d9d9; }
  .digg-header .header-inner {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
    max-height: 54px; }
  .digg-header .logo {
    display: block;
    width: 80px;
    height: 54px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background: url(../images/logo.png) 50% 13px no-repeat;
    background-size: 47px 30px;
    float: left;
    margin: 0 0 0 6px;
    padding: 0; }

ul.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  float: left; }
  ul.nav-list li.nav-item {
    color: #aaa;
    display: inline-block;
    text-decoration: none;
    position: relative;
    cursor: pointer; }
    ul.nav-list li.nav-item:hover {
      color: #0093cc; }
    ul.nav-list li.nav-item.active {
      color: #222; }

.nav-list.nav-utility {
  float: right;
  margin-left: 18px;
  width: 111px;
  height: 54px;
  font-size: 12px; }
  .nav-list.nav-utility:before, .nav-list.nav-utility:after {
    content: " ";
    display: table; }
  .nav-list.nav-utility:after {
    clear: both; }
  .nav-list.nav-utility .nav-search {
    width: 18px;
    height: 18px;
    border: 1px solid red;
    margin-top: 16px; }
  .nav-list.nav-utility .nav-user {
    color: #0093cc;
    margin: 19px 20px 0px 0px;
    float: left; }

.nav-primary .nav-item {
  letter-spacing: 1px;
  padding: 1.357em .750em 1.286em;
  text-transform: uppercase;
  font-size: 14px; }

.nav-list.nav-secondary {
  float: right;
  font-size: 14px;
  margin-top: 16px; }
  .nav-list.nav-secondary .nav-item:before {
    content: '\00B7';
    margin: 0 5px 0 0;
    color: #7a7a7a; }
  .nav-list.nav-secondary .nav-item {
    color: #7a7a7a; }

/* -- Layout Components -- */
#content-main {
  position: relative;
  padding-top: 133px; }

.marquee {
  margin: 0 auto;
  width: 1007px; }

.story-container {
  width: 100%;
  max-height: 361px;
  height: 361px;
  border-bottom: 1px solid #ebebeb;
  padding: 17px 0; }

.story-image {
  float: left;
  width: 661px;
  margin: 0 32px 7px 0; }

.story-container .story-kicker {
  color: #555;
  font: 700 .688em/1.091em "lft-etica","Helvetica Neue",Helvetica,Arial,sans-serif;
  letter-spacing: 1px;
  margin: 0 0 .364em; }

.story-header h2 {
  font-size: 2.313em;
  line-height: 1.027em;
  margin-bottom: 4px;
  margin: 0; }
.story-header .story-meta {
  margin: 7px 0;
  font-size: .70em; }
  .story-header .story-meta .story-score {
    margin-right: 0;
    display: inline-block;
    position: relative;
    font-weight: bold; }
  .story-header .story-meta span {
    color: #606060; }
    .story-header .story-meta span:before {
      content: '\00B7';
      margin: 0 0 0 3px; }

.story-content p {
  color: #444444;
  margin-top: 2px;
  font-size: .875em;
  line-height: 1.250em; }

/*3COL layout*/
.story-grid-3col {
  max-width: 1007px;
  margin: 0 auto;
  padding: 0 0 15px; }
  .story-grid-3col:before, .story-grid-3col:after {
    content: " ";
    display: table; }
  .story-grid-3col:after {
    clear: both; }
  .story-grid-3col .story-container {
    float: left;
    width: 313px;
    padding: 17px 17px 34px;
    margin: 0;
    min-height: 333px;
    position: relative;
    border-bottom: none; }
    .story-grid-3col .story-container:nth-of-type(3n) {
      padding-right: 0; }
    .story-grid-3col .story-container:nth-of-type(3n+1) {
      clear: left;
      padding-left: 0; }
    .story-grid-3col .story-container:hover .story-actions {
      opacity: 1; }
    .story-grid-3col .story-container .story-image {
      width: 312px;
      height: 170px;
      margin: 0;
      margin-bottom: .786em;
      float: none; }
    .story-grid-3col .story-container .story-title {
      margin-bottom: .227em;
      font-size: 1.5em; }
    .story-grid-3col .story-container .story-actions {
      margin: 0;
      padding: 0;
      -webkit-transition: opacity 0.15s cubic-bezier(0, 0, 0.58, 1);
      -moz-transition: opacity 0.15s cubic-bezier(0, 0, 0.58, 1);
      -o-transition: opacity 0.15s cubic-bezier(0, 0, 0.58, 1);
      transition: opacity 0.15s cubic-bezier(0, 0, 0.58, 1);
      opacity: 0; }
      .story-grid-3col .story-container .story-actions li {
        list-style: none;
        font-size: .850em;
        display: inline-block;
        margin-right: -2px;
        position: relative;
        color: #0093cc;
        text-decoration: none;
        padding: 2px 5px 1px 22px;
        background-repeat: no-repeat;
        background-size: 14px 14px;
        border-radius: 4px;
        border: 1px solid rgba(0, 0, 0, 0);
        cursor: pointer; }
        .story-grid-3col .story-container .story-actions li:hover {
          border-color: #dcebf5; }
