@import 'mixins';
@import 'normalize';

$largest-breakpoint : 1007px;
$medium-breakpoint : 1280px;

/*FONTS*/
$primary-font : Helvetica, Arial, sans-serif;
$secondary-font : Arial, sans-serif;

/*COLOR*/
$blue : #0093cc;
$gray: #444;


body{ 
<<<<<<< HEAD
=======
	border: 1px solid blue;
>>>>>>> 26b95a9601a65b2ef4dc432c6491b502ebe471e6
	font-family:$secondary-font; 
}
a{
	text-decoration:none;
	color:#fff;
}
a:hover{
	text-decoration:underline;	
}

<<<<<<< HEAD
/* -- Navigation components -- */
@import 'navigation';



/**CONTENT**/
#content-main{
	position: relative;
	padding-top: 133px;
}

.marquee{
margin: 0 auto;
width:$largest-breakpoint	;

}

.story-container{
width: 100%;
max-height: 361px;
height: 361px;
border-bottom: 1px solid #ebebeb;
padding:17px 0;	
}

.story-image{
	float: left;
	width: 661px;
	margin: 0 32px 7px 0;	
}

.story-container .story-kicker {
color: #555;
font: 700 .688em/1.091em "lft-etica","Helvetica Neue",Helvetica,Arial,sans-serif;
letter-spacing: 1px;
margin: 0 0 .364em;
}

.story-header{
	h2{
		font-size: 2.313em;
		line-height: 1.027em;
		margin-bottom: 4px;	
		margin:0;	
	}
	
	.story-meta{
		margin:7px 0;
		font-size:.70em;
		
		.story-score{
			margin-right: 0;
			display: inline-block;
			position: relative;	
			font-weight:bold;	
		}
		
		span{
			color:#606060;
			&:before{
				content: '\00B7';
				margin: 0 0 0 3px;		
			}		
		}
	}
}

.story-content{
	p{
		color:$gray	;
		margin-top: 2px;
		font-size: .875em;
		line-height: 1.250em;
	}	
}


/*3COL layout*/
.story-grid-3col{
	max-width: $largest-breakpoint	;
	margin: 0 auto;
	padding: 0 0 15px;	
	
	@include clearfix;
	
	.story-container{
		float: left;
		width: 313px;
		padding: 17px 17px 34px;
		margin: 0;
		min-height: 333px;
		position: relative;	
		
		&:nth-of-type(3n){
			padding-right: 0;	
		}
		&:nth-of-type(3n+1){
			clear: left;
			padding-left: 0;
		}
		
		.story-image{
			width: 312px;
			height: 170px;
			margin:0;
			margin-bottom: .786em;
			float:none;		
		}
		
		.story-title{
			margin-bottom: .227em;
			font-size: 1.5em;	
		}
		
		.story-actions{
			margin:0;
			padding:0;	
			li{
				list-style: none;
				font-size: .850em;
				display: inline-block;
				margin-right: -2px;
				position: relative;	
				color: #0093cc;
				text-decoration: none;
				padding: 2px 5px 1px 22px;
				background-repeat: no-repeat;
				background-size: 14px 14px;
			}
		}
	}
	
	
}
=======

/* -- Navigation components -- */
@import 'navigation';


/* -- Content -- */
#content-main{
	position: relative;
	padding-top: 54px;

}


>>>>>>> 26b95a9601a65b2ef4dc432c6491b502ebe471e6




body{background:red;}

<<<<<<< HEAD
=======





>>>>>>> 26b95a9601a65b2ef4dc432c6491b502ebe471e6
/* -- Layout Components -- */
@import 'layout';